.page-not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  height: 100%;
}

.page-not-found-container p {
  font-size: 1.8rem;
}

.page-not-found-container span {
  color: var(--button-color);
  text-decoration: underline;
  font-weight: 600;
  cursor: pointer;
}
