.stay-motivated-page .hero-container {
  background: rgb(99, 71, 20);
  background-position: center;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 10rem 8rem;
}

.stay-motivated-page .hero-container h1 {
  font-size: 5rem;
  color: white;
}

.stay-motivated-page .stay-motivated-section {
  /* max-width: 1200px; */
  /* width: 90%; */
  margin: 4rem 0;
}

.stay-motivated-page main {
  padding: 6rem 16rem;
  max-width: 1800px;
  margin: 0 auto;
}

.stay-motivated-page .stay-motivated-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 5rem;
}

.stay-motivated-page .stay-motivated-container .card {
  background-color: white;
  border-radius: 0.6rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  /* box-shadow: 0 0 20px rgba(128, 128, 128, 0.486); */
  padding-bottom: 2rem;
  transition: all 0.3s;
  cursor: pointer;
  height: 100%;
}

.stay-motivated-page .stay-motivated-container .card:hover img {
  transform: scale(1.1);
}

.stay-motivated-page .stay-motivated-container a {
  text-decoration: none;
  color: var(--font-color);
}

.stay-motivated-page .stay-motivated-container .title {
  line-height: 1.1;
}

.stay-motivated-page .stay-motivated-container .title span {
  background: linear-gradient(black, black);
  background-size: 0px 1px;
  background-position: left bottom;
  background-repeat: no-repeat;
  width: fit-content;
  transition: background-size 0.5s;
}

.stay-motivated-page .stay-motivated-container .card:hover .title span {
  background-size: 100% 1px;
}

.stay-motivated-page .stay-motivated-container .image-container {
  width: 100%;
  height: 25rem;
  min-height: 15rem;
  position: relative;
  overflow: hidden;
}

.stay-motivated-page .stay-motivated-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transition: all 0.5s;
}

.stay-motivated-page .stay-motivated-container .details {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.stay-motivated-page .stay-motivated-container .category {
  padding: 0.4rem 1rem;
  width: fit-content;
  border-radius: 0.4rem;
  transition: all 0.3s;
}

.stay-motivated-page .stay-motivated-container .stay-motivated {
  background-color: rgb(248, 223, 176);
  color: rgb(99, 71, 20);
}

/* .stay-motivated-page .stay-motivated-container .title {
  background-size: 0px 1px;
  transition: background-size 0.5s;
  width: fit-content;
} */

.stay-motivated-page .stay-motivated-container .date {
  color: rgb(136, 136, 136);
}
