.sidebar {
  border-right: 1px solid rgb(204, 203, 203);
  position: sticky;
  top: 0;
  left: 0;
  background-color: white;
}

.sidebar ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.sidebar li:last-child {
  border-bottom: 1px solid grey;
}

.sidebar ul li a {
  display: inline-block;
  width: 100%;
  padding: 2rem 0;
  text-decoration: none;
  padding-left: 2rem;
  color: inherit;
}

.sidebar ul li a.active {
  border-right: 2px solid var(--button-color);
  background-color: #d1e9f5;
  font-weight: 600;
  color: var(--button-color);
}

.sidebar button {
  background-color: rgb(133, 34, 34);
  color: white;
  padding: 0.6rem 2.4rem;
  font-weight: 600;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: all 0.2s;
  width: fit-content;
  margin: 2rem 0 2rem 2rem;
}

.sidebar button:hover {
  background-color: rgb(182, 47, 47);
}

.sidebar button:active {
  background-color: rgb(97, 25, 25);
}
