.home .hero-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.562), rgba(0, 0, 0, 0.507)),
    url("../../assets/pexels-kun-fotografi-506396-1230302.jpg");
  background-size: cover;
  background-position: center;
  /* background-attachment: fixed; */
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding: 8rem 16rem;
}

.home .hero-container h1 {
  font-size: 6.4rem;
  color: white;
  width: 60%;
}

.home .hero-container p {
  font-size: 2.4rem;
  font-weight: 600;
  width: 60%;
  color: white;
}

.home main {
  padding: 6rem 16rem;
  width: 100%;
}

.home .posts-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 1800px;
  margin: 4rem auto 8rem;
}

.home .posts-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 5rem;
}

.home .posts-container .card {
  background-color: white;
  border-radius: 0.6rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  /* box-shadow: 0 0 20px rgba(128, 128, 128, 0.486); */
  padding-bottom: 2rem;
  transition: all 0.3s;
  cursor: pointer;
  height: 100%;
}

.home .posts-container .card:hover img {
  transform: scale(1.1);
}

.home .posts-container a {
  text-decoration: none;
  color: var(--font-color);
}

.home .posts-container .title {
  line-height: 1.1;
}

.home .posts-container .title span {
  background: linear-gradient(black, black);
  background-size: 0px 1px;
  background-position: left bottom;
  background-repeat: no-repeat;
  width: fit-content;
  transition: background-size 0.5s;
}

.home .posts-container .card:hover .title span {
  background-size: 100% 1px;
}

.home .posts-container .image-container {
  width: 100%;
  height: 25rem;
  min-height: 15rem;
  position: relative;
  overflow: hidden;
}

.home .posts-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transition: all 0.5s;
}

.home .posts-container .details {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.home .posts-container .category {
  padding: 0.4rem 1rem;
  width: fit-content;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: all 0.3s;
}

.home .posts-container .category:hover {
  transform: scale(1.03);
}

.home .posts-container .lifestyle-and-health {
  background-color: rgb(202, 241, 202);
  color: rgb(17, 85, 17);
}

.home .posts-container .stay-motivated {
  background-color: rgb(248, 223, 176);
  color: rgb(99, 71, 20);
}

.home .posts-container .study-abroad {
  background-color: rgb(243, 198, 243);
  color: rgb(94, 21, 94);
}

.home .posts-container .date {
  color: rgb(136, 136, 136);
}

@media (max-width: 1080px) {
  .home .hero-container {
    height: 50vh;
    padding: 8rem 4rem;
  }

  .home .hero-container h1 {
    font-size: 4.8rem;
  }

  .home .hero-container p {
    font-size: 2rem;
  }

  .home main {
    padding: 6rem 4rem;
  }

  .home .posts-section {
    margin: 2rem auto 8rem;
  }

  .home .posts-container {
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 3rem;
  }
}

@media (max-width: 640px) {
  .home .hero-container {
    height: 40vh;
  }

  .home .hero-container h1 {
    font-size: 3.2rem;
    color: white;
    width: 100%;
    /* text-align: center; */
  }

  .home .hero-container p {
    font-size: 1.6rem;
    color: white;
    width: 100%;
  }
}
