.study-abroad-page .hero-container {
  background: rgb(243, 198, 243);
  background-position: center;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 6rem 8rem;
}

.study-abroad-page .hero-container h1 {
  font-size: 5rem;
  color: rgb(94, 21, 94);
}

.study-abroad-page .study-abroad-section {
  margin: 4rem 0;
}

.study-abroad-page main {
  padding: 6rem 16rem;
  max-width: 1800px;
  margin: 0 auto;
}

.study-abroad-page .study-abroad-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 5rem;
}

.study-abroad-page .study-abroad-container .card {
  background-color: white;
  border-radius: 0.6rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding-bottom: 2rem;
  transition: all 0.3s;
  cursor: pointer;
  height: 100%;
}

.study-abroad-page .study-abroad-container .card:hover img {
  transform: scale(1.1);
}

.study-abroad-page .study-abroad-container a {
  text-decoration: none;
  color: var(--font-color);
}

.study-abroad-page .study-abroad-container .title {
  line-height: 1.1;
}

.study-abroad-page .study-abroad-container .title span {
  background: linear-gradient(black, black);
  background-size: 0px 1px;
  background-position: left bottom;
  background-repeat: no-repeat;
  width: fit-content;
  transition: background-size 0.5s;
}

.study-abroad-page .study-abroad-container .card:hover .title span {
  background-size: 100% 1px;
}

.study-abroad-page .study-abroad-container .image-container {
  width: 100%;
  height: 25rem;
  min-height: 15rem;
  position: relative;
  overflow: hidden;
}

.study-abroad-page .study-abroad-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transition: all 0.5s;
}

.study-abroad-page .study-abroad-container .details {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.study-abroad-page .study-abroad-container .category {
  padding: 0.4rem 1rem;
  width: fit-content;
  border-radius: 0.4rem;
  transition: all 0.3s;
}

.study-abroad-page .study-abroad-container .study-abroad {
  background-color: rgb(243, 198, 243);
  color: rgb(94, 21, 94);
}

.study-abroad-page .study-abroad-container .date {
  color: rgb(136, 136, 136);
}

@media (max-width: 1080px) {
  .study-abroad-page .hero-container {
    height: 5vh;
    padding: 4rem 4rem;
  }

  .study-abroad-page .hero-container h1 {
    font-size: 4rem;
  }

  .study-abroad-page main {
    padding: 3rem 4rem;
  }

  .study-abroad-page .study-abroad-container {
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 3rem;
  }
}

@media (max-width: 580px) {
  .study-abroad-page .hero-container {
    padding: 3rem 4rem;
  }

  .study-abroad-page .hero-container h1 {
    font-size: 2.6rem;
  }

  .study-abroad-page main {
    padding: 1rem 3rem;
  }
}
