.register-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 3rem;
}

.register-page form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 50%;
  max-width: 400px;
}

.register-page label {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 2rem;
}

.register-page input {
  padding: 1rem;
  font-size: 1.6rem;
  color: inherit;
  border: 1px solid rgb(231, 231, 231);
  border-radius: 0.6rem;
}

.register-page input:focus {
  outline: 1px solid var(--button-color);
}

.register-page .password-container {
  display: flex;
  align-items: center;
  position: relative;
}

.register-page .password-input {
  flex: 1;
}

.register-page .password-toggle-icon {
  position: absolute;
  right: 1rem;
  cursor: pointer;
  font-size: 1.6rem;
}

.register-page button {
  background-color: var(--button-color);
  color: white;
  padding: 1.4rem 2.4rem;
  font-weight: 600;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: all 0.2s;
  font-size: 1.6rem;
}

.register-page button:hover {
  background-color: var(--button-hover-color);
}

.register-page button:active {
  background-color: var(--button-active-color);
}

.register-page span {
  color: var(--button-color);
  text-decoration: underline;
  cursor: pointer;
}
